* {
  margin: 0;
  padding: 0;
}

.slider {
  margin: 40px auto 0;
  max-width: 740px;
}

.slider-labels {
  margin-top: 20px;
  overflow: hidden;
}

.slider-item {
  border: 10px solid #000;
  background: #000;
}

.slider-wrapper {
  display: flex;
}

.slider-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-label {
  margin-left: -130px;
}

.slider-controls {
  display: flex;
  justify-content: flex-end;
}

.slider-control:hover > span {
  background: red;
  transform: scale(2);
  transition: all 0.5s;
}

.slider-control {
  padding: 0px 10px 20px;
  cursor: pointer;
}

.slider-controls span {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: #000;
  display: block;
  border: 2px solid transparent;
  transition: all 0.5s;
}

.radio {
  opacity: 0;
}

.slider-item1, .slider-item2, .slider-item3, .slider-item4 {
  opacity: 0;
}

.radio1:checked ~ .slider-item1 {
  opacity: 1;
  transition: all 2s;
}

.radio1:checked ~ .slider-controls #l1 span {
  background: red;
}

.radio1:checked ~ .slider-labels .lb1 {
  margin-left: 0;
  transition: all 2s;
}

.radio2:checked ~ .slider-item2 {
  opacity: 1;
  transition: all 2s;
}

.radio2:checked ~ .slider-controls #l2 span {
  background: red;
}

.radio2:checked ~ .slider-labels .lb2 {
  margin-left: 0;
  transition: all 2s;
}

.radio3:checked ~ .slider-item3 {
  opacity: 1;
  transition: all 2s;
}

.radio3:checked ~ .slider-controls #l3 span {
  background: red;
}

.radio3:checked ~ .slider-labels .lb3 {
  margin-left: 0;
  transition: all 2s;
}

.radio4:checked ~ .slider-item4 {
  opacity: 1;
  transition: all 2s;
}

.radio4:checked ~ .slider-controls #l4 span {
  background: red;
}

.radio4:checked ~ .slider-labels .lb4 {
  margin-left: 0;
  transition: all 2s;
}

.slider-item2, .slider-item3, .slider-item4 {
  margin-top: -384px;
}

.lb2, .lb3, .lb4 {
  margin-top: -18px;
}